@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  }

  .hero-clip-path-inverse {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  }

  @media screen and (max-width: 768px) {
    .hero-clip-path {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 15vw));
    }

    .hero-clip-path-inverse {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
    }
  }

  @media screen and (max-width: 480px) {
    .hero-clip-path {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 70vw));
    }

    .hero-clip-path-inverse {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25vw), 0 100%);
    }
  }

}

:root {
  --header-bg-light: #fff;
  --header-text-light: #000;
  --header-bg-dark: #000;
  --text-light: #fff;
  --text-dark: #000;
}

html {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-light: var(--header-bg-light);
    --text-light: var(--text-light);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --header-bg: var(--header-bg-light);
    --text-dark: var(--text-dark);
  }
}
